* {
	margin: 0;
	padding: 0;
}

body {
	width: 70%;
	margin: 330px auto 0;
	background-image: url('../img/background.png');
	background-repeat: no-repeat;
	background-size: 1000px 750px;
	background-position: top center;
}

#dancer {
	position: relative;
	width: 200px;
	margin: 0 auto;

	&:after {
		content: "";
		display: block;
		clear: both;
		visibility: hidden;

		line-height: 0;
		height: 0;
	}

	x-head, x-throat, x-corpus, x-arm, x-leg {
		position: relative;
		margin: 0 auto;
		z-index: 100;
	}

	x-throat {
		margin-top: -5px;
		z-index: 90;
	}

	x-arm {
		position: absolute;
		top: 150px;
		z-index: 90;
		-webkit-transform-origin: top;

		&.left {
			left: 20px;
			-webkit-transform: rotateZ(45deg);
			background: url(../images/left_hand.png) no-repeat;
		}
		&.right {
			right: 20px;
			-webkit-transform: rotateZ(-45deg);
			background: url(../images/right_hand.png) no-repeat;
		}
	}

	x-leg {
		&.left {
			float: left;
			margin-left: 35px;
			background: url(../images/left_foot.png) no-repeat;
			background-position: -10px 0;
		}
		&.right {
			float: right;
			margin-right: 35px;
			background: url(../images/right_foot.png) no-repeat;
			background-position: -10px 0;
		}
	}
}