* {
	margin: 0;
	padding: 0;
}

body {
	width: 70%;
	margin: 20px auto;

}

#dancer {
	position: relative;
	width: 200px;
	margin: 0 auto;

	&:after {
		content: "";
		display: block;
		clear: both;
		visibility: hidden;

		line-height: 0;
		height: 0;
	}

	x-head, x-throat, x-corpus, x-arm, x-leg {
		position: relative;
		margin: 0 auto;
		z-index: 100;
	}

	x-throat {
		margin-top: -5px;
		z-index: 90;
	}

	x-arm {
		position: absolute;
		top: 150px;
		z-index: 90;
		-webkit-transform-origin: top;

		&.left {
			left: 20px;
			-webkit-transform: rotateZ(45deg);
		}
		&.right {
			right: 20px;
			-webkit-transform: rotateZ(-45deg);
		}
	}

	x-leg {
		&.left {
			float: left;
			margin-left: 35px;
		}
		&.right {
			float: right;
			margin-right: 35px;
		}
	}
}