* {
  margin: 0;
  padding: 0; }

body {
  width: 70%;
  margin: 20px auto;
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-size: 1000px 750px; }

#dancer {
  position: relative;
  width: 200px;
  margin: 0 auto; }
  #dancer:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  #dancer x-head, #dancer x-throat, #dancer x-corpus, #dancer x-arm, #dancer x-leg {
    position: relative;
    margin: 0 auto;
    z-index: 100; }
  #dancer x-throat {
    margin-top: -5px;
    z-index: 90; }
  #dancer x-arm {
    position: absolute;
    top: 150px;
    z-index: 90;
    -webkit-transform-origin: top;
    -webkit-transition-duration: 0.15s; }
    #dancer x-arm.left {
      left: 20px;
<<<<<<< HEAD:main.css
      -webkit-transform: rotateZ(45deg); }
=======
      -webkit-transform: rotateZ(15deg);
      background: url(../images/left_hand.png) no-repeat; }
      #dancer x-arm.left.up {
        -webkit-transform: rotateZ(165deg); }
      #dancer x-arm.left.middle {
        -webkit-transform: rotateZ(105deg); }
      #dancer x-arm.left.down {
        -webkit-transform: rotateZ(45deg); }
>>>>>>> added first move actions:css/main.css
    #dancer x-arm.right {
      right: 20px;
      -webkit-transform: rotateZ(-45deg); }
  #dancer x-leg.left {
    float: left;
    margin-left: 35px; }
  #dancer x-leg.right {
    float: right;
    margin-right: 35px; }
